@page "{id:int}"
@model TEcNM.RemindersApp.Website.Pages.Recordatorios.List

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notes App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: 50px;
        }
        
        .title {
            text-align: left;
            margin-top: 20px;
        }
        
        .reminders-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        .reminders-list {
            flex: 1;
            padding-right: 20px;
        }
        
        .reminders-list ul {
            list-style-type: none;
            padding: 0;
        }
        
        .reminders-list li {
            margin-bottom: 10px;
        }
        
        .reminder-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            display: flex; 
            justify-content: space-between;
        }
        
        .reminder-card:hover {
            background-color: #f5f5f5;
        }
        
        .calendar {
            height: 300px;
            flex: 2;
            padding-left: 20px;
        }
        
        .reminder-actions {
            display: flex;
            justify-content: space-between;
        }
        
        .reminder-actions button {
            flex: 1;
            margin-right: 10px;
        }
        
        .reminder-actions button:last-child {
            margin-right: 0;
        }
        
        .reminder-textarea {
            width: 100%;
            height: 100%;
        }
        
        .modal{
            border-radius: 20px;
        }
        
        .reminders-title{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .title{
        
        }
    </style>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" id="btn-back" asp-page="/Index" asp-route-id="@Model.userDto.Id"><i class="carousel-control-prev-icon"></i></a>
    <h2 class="title">Notes App</h2>
    <div class="reminders-container">
        <div class="reminders-list">
            <div class="reminders-title">
                <h4>Recordatorios</h4>
                <a a-asp-area="" asp-page="/Recordatorios/Edit" 
                   asp-route-idUser="@Model.userDto.Id" class="btn btn-primary" role="button">+</a>
            </div>
            <ul>
                @foreach (var reminder in @Model.Reminders)
                {
                    <li>
                        <div class="reminder-card">
                            <text>@reminder.Name</text>
                            <div class="actions">
                                <a a-asp-area="" asp-page="/Recordatorios/Edit" 
                                   asp-route-idUser="@Model.userDto.Id" asp-route-idReminder="@reminder.Id" class="btn btn-primary" role="button">Edit
                                </a>
                                <a a-asp-area="" asp-page="/Recordatorios/Delete" 
                                   asp-route-idUser="@Model.userDto.Id" asp-route-idReminder="@reminder.Id" class="btn btn-danger" role="button">Delete
                                </a>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>

<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNoteModalLabel">Agregar Nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="reminder-title">Título</label>
                    <input type="text" class="form-control" id="reminder-title">
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save-reminder-btn">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationDialog" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationDialogLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de eliminar este elemento?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete-btn">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>